@charset "utf-8";
/* CSS Document */

#encabezado{
	height:100px;
	width:100%;
	background-color:#F00;
	border-radius: 20px;
	text-align:center;
}

#nav{
	height:400px;
	width:25%;
	background-color:#006;
	border-radius: 20px;
}
#art1{
	height:200px;
	width:49%;
	background-color:#FF0;
	position:absolute;
	right:350px;
	top:108px;
	border-radius: 20px;
	text-align:center;
}
#art2{
	height:200px;
	width:49%;
	background-color:#FF0;
	right:350px;
	top:308px;
	position:absolute;
	border-radius: 20px;
	text-align:center;
}

#aside{
	height:400px;
	width:25%;
	background-color:#0FC;
	position:absolute;
	right:8px;
	top:108px;
	border-radius: 20px;
}

#footer{
	height:100px;
	width:100%;
	background-color:#609;
	border-radius: 20px;
}